
%header.header
  %img.logo{:src => asset_path("white-logo.svg")}

%h1.title
  Your Showroom
  
.car-showroom__container
  - @cars.each do |car|
    .car-card__container
      .car-card__header
        .car-card__image
          %img.card-image{:src => asset_path(car[:image_name])}
        .car-card__overlay
          .car-card__overlay-info
            .car-card__make
              =car[:make]
            .car-card__model
              =car[:model]
        %button.card-archive
          %img{:src => asset_path("archive_icon.svg")}
      .car-card__info
        .car-card__engine
          =car[:engine]
        .car-card__details
          =car[:details]
        - if car[:has_new_offer]
          %span.car-card__offer
            1 new offer

:javascript
  $( ".card-archive" ).click(function() {
    $(this).closest(".car-card__container").remove();
  });
